@import url("mvpready-admin.css");
@import url("mathquill.css");

html, body{height: auto;}
.topics-progress .progress-stat{margin-bottom: 0}
#dashboard .progress-stat-label{width: 80%}
#dashboard .progress-stat-value{width: 20%}
#admin table th,#admin table td{text-align: center;}
#admin table .topicName{text-align: left;}

.show-error{font-size: 20px;}

.buttons-latex {
  height: 45px;
  width: 45px;
  cursor: pointer;
  user-select: none;
}

.buttons-latex:hover {
  background-color: #e3e3e3;
}

.MJXc-display{padding: 4px !important}
.mjx-chtml.MJXc-display {
  margin: 0;
}

.preview-ex {
  padding: 9px;
  overflow-x: auto;
  overflow-y: hidden;
}

.box-content button{
  box-sizing: content-box;
  box-shadow: 3px 2px 0px #888888;
  margin: 0 2px;
}

.custom-box-shadow{
  box-shadow: inset 5px 2px 8px rgba(0, 0, 0, .2);
}

.ex-complete{
  color: #5cb85c;
}

.ex-small{
  margin-top: 12px;
  display: block;
}

.btn-to-level{
  margin-top: 10px;
}
