<div style="padding:20px;">
  <h4 class="portlet-title">Cambia de curso</h4>
  <hr>

  <md-progress-linear ng-show="showLoader" md-mode="indeterminate"></md-progress-linear>
  <div ng-show="!showLoader" ng-repeat="curse in curses">
  	<button style="margin:0 0 10px 0;width:100%;" type='submit' ng-class="['btn btn-default center-block', {'btn-danger': pre.curse == curse.id }]" ng-click="changeCurse(curse.id)">{{curse.name}}</button>
  </div>
</div>
