<div class="page-header" layout="row" layout-align="space-between center">
	<h3 class="page-title">{{ex.topic.unitName}} / <a href="#/topic/{{ex.topic.id}}">{{ex.topic.name}}</a>
	</h3>
</div>
<hr>
<div layout="row">
  <div layout="row" flex="70">
    <form ng-submit="verify(answer)" style="width:100%; padding-right:30px;">
  	  <h2>{{ex.topic.score}} de 100 puntos</h2>

      <div class="progress progress-striped progress-sm active custom-box-shadow">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ex.topic.score}}%">
          <span class="sr-only"></span>
        </div>

        <div class="progress-bar progress-bar-warning progress-bar-striped"
        style="width: {{(ex.topic.score+ex.points)<=100?ex.points:(100-ex.topic.score)}}%">
          <span class="sr-only"></span>
        </div>


      </div>
  		<div class="portlet portlet-boxed">
  			<div class="portlet-body">
    			<div class="text-right">
    		    <span ng-class="['badge badge-dang', {'bg-warning': !showNext, 'bg-success': success }]">{{scoreCache}} pts</span>
    			</div>
          <br>
  		    <br>
  				<div class="well">
  					<div marked="ex.question" mathjax></div>
  				</div>
  				<div ng-if="ex.type == 1">
  					<div ng-repeat="c in ex.choices track by $index">
  						<label ng-class="['btn btn-sm btn-block btn-default text-left', {'bg-success': showNext && $index == answer.radio || $index == correctAnwsers.radio}, {'bg-danger': showNext && failed && $index == answer.radio}]">
  							<input name='answer' ng-model="answer.radio" type='radio' value='{{$index}}' class='pull-left' required>
  							{{c}}
  						</label>
  						<br>
  					</div>
  					<button type='submit' class='btn btn-success center-block' ng-show="showVerify">REVISAR</button>
  				</div>
    				<div ng-if="ex.type == 2">
    					<div ng-repeat="c in ex.choices track by $index">
                <!--
                  ng-class="['btn btn-sm btn-block btn-default text-left', {'bg-success': showNext && correctAnwsers[$index]}, {'bg-danger': showNext && failed && !correctAnwsers[$index] }]"
                -->
    						<label
                  ng-class="['btn btn-sm btn-block btn-default text-left',
                    {
                      'bg-danger': showNext && failed && ((correctAnwsers[$index] && !answer[$index]) || !correctAnwsers[$index] && answer[$index] )

                    }
                  ]"
                  >
    							<input id="answer_{{$index}}" ng-model="answer[$index]" type='checkbox' value='{{$index}}' class='pull-left' ng-required="answer.algo.lol" ng-change="checkOne(answer)">
    							{{c}}
    						</label>
    						<br>
    					</div>
    					<button type='submit' ng-disabled="markAnswer" class='btn btn-success center-block' ng-show="showVerify">REVISAR</button>
            </div>
    				<div ng-if="ex.type == 4 || ex.type == 3" layout="column">
              <div layout="column" layout-align="end end">
                <div class='text-center' ng-show="ex.type == 4">
                  <p>Resolver como:</p>
                  <div class="btn-group-vertical">
                    <span>Paso a paso</span>
                    <input type="checkbox" class="js-switch" ui-switch checked ng-model="switchOption" ng-change="changeSwitch(switchOption)"/>
                    <span>Entrada libre</span>
                  </div>
                </div>
              </div>
    					<div class="text-center">
    						<ul layout="column" style="list-style: none; padding: 0;">
    							<li ng-repeat="step in ex.steps" ng-class="{'bg-success': step.rightStep == true, 'bg-danger': step.rightStep == false}"  class="well" style="margin: 1em 0; padding: 0;" mathjax>{{step.latex}}</li>
    						</ul>
    						<div class="btn-group box-content">
    							<button type='button' style="width:auto" class="btn btn-default buttons-latex" mathjax ng-click="buttonLatex('^')">$$x^{y}$$</button>
    							<button type='button' style="width:auto;font-size:12px" class="btn btn-default buttons-latex" mathjax ng-click="buttonLatex('\\frac')">$$\frac{x}{y}$$</button>
    							<button type='button' style="width:auto" class="btn btn-default buttons-latex" mathjax ng-click="buttonLatex('\\sqrt')">$$\sqrt{x}$$</button>
    							<button type='button' style="width:auto" class="btn btn-default buttons-latex" mathjax ng-click="buttonLatex('\\times')">$${x}\times{y}$$</button>
    				    </div>
    						<div ng-show="!ex.closed">
    				      <br>
    							<div layout="row" layout-align="start start">
    								<p style="margin-right: 10px;" ng-show="ex.type == 3">Escribe la respuesta:</p>
    								<p style="margin-right: 10px;" ng-show="ex.type == 4">Escribe el paso siguiente:</p>
    								<!-- <mathquill model="$parent.latex" default-value="ex.steps.length==0?ex.startLatex:ex.steps[ex.steps.length-1].latex"></mathquill> -->
    								<mathquill style="min-height:35px; width:100%; text-align:left; max-width: 300px; font-size: 20px;" model="$parent.latex" ></mathquill>
    			      		<input type="hidden" ng-model="stepLx" value="{{latex}}">
    							</div>
    						</div>
    					</div>
    				</div>
    		    <br>
    				<button type='submit' class='btn btn-success center-block' ng-show="ex.type ==3 && showVerify">Revisar</button>
    		    <div layout="row" ng-show="ex.type == 4 && !userPreferences.freeEx">
    					<button type='submit' class='btn btn-success center-block' ng-show="showVerify">Verificar paso</button>
    					<a ng-click="verify(answer, true);" class='btn btn-success center-block' ng-show="showVerify">Evaluar resultado</a>
    		    </div>
            <div layout="row" ng-show="ex.type == 4 && userPreferences.freeEx && showVerify">
              <a ng-click="verify(answer, true);" class='btn btn-success center-block'>Evaluar resultado</a>
            </div>
            <div layout="row" layout-align="center center" ng-show="loading">
              <md-progress-circular md-mode="indeterminate" md-diameter="120px"></md-progress-circular>
            </div>
      		  <div class="success">
    					<h5 class="text-center text-success" ng-show="success">Has respondido correctamente</h5>
    					<h5 class="text-center text-error" ng-show="failed && !errorCode">La respuesta es incorrecta</h5>
    					<h6 class="text-center text-error" ng-show="failed && !errorCode  && ex.type >= 3">La respuesta correcta es:
    			      <span>{{ex.choices[0]}}</span>
    			    </h6>
    					<h5 class="text-center text-error" ng-show="showError">{{errors[errorCode]}}</h5>
    					<div class="row">
    						<div class="col-xs-6">
    			        <a ng-show="showNext" href="#/topic/{{ex.topic.id}}" ng-class="['center-block', 'btn', 'btn-large', {'btn-success': success}, {'btn-danger': failed}, {'btn-info': otherRes}]">Regresar a {{ex.topic.unitName}}</a>
    						</div>
    						<div class="col-xs-6">
    			        <a ng-show="showNext" ng-click="nextExercise()" ng-class="['center-block', 'btn', 'btn-large', {'btn-success': success}, {'btn-danger': failed}, {'btn-info': otherRes}]">Continuar</a>
    						</div>
    					</div>
      		  </div>
    			</div>
    		</div>
    	</form>
    </div>
    <div layout="row" flex="30">
      <div class="portlet portlet-boxed" layout="column" style="width: 100%;">
        <div class="portlet-header">
          <h4 class="portlet-title">
            Material de apoyo
          </h4>
        </div>
        <p class="well" ng-show="!ex.totalHints" style="text-align:center;" >
          No hay pistas para este ejercicio.
        </p>
        <div
          class="portlet-body"
          style="height:100%;"
          ng-show="ex.totalHints"
        >
          <a ng-click="getHint()"  class="btn btn-secondary center-block" layout>
            <i class="fa fa-info-circle fa-5x text-muted" style="color: white; font-size: 16px;"></i>
            Pedir una pista (<span style="font-weight:bold;">{{ex.totalHints - ex.hints.length}}</span> restantes)
          </a>
          <p style="margin-top: 5px; text-align: center;">
            Si pides una pista se te restarán <!--<span style="font-weight:bold;">N</span>--> puntos.
          </p>
          <md-progress-linear md-mode="indeterminate" ng-show="loadingHint"></md-progress-linear>

          <hr>
          <div layout="column">
            <div
              style="margin-bottom:10px;"
              ng-repeat="hint in ex.hints"
            >
              <div
                style="cursor:pointer; user-select:none;"
                layout
                layout-align="space-between center"
                data-toggle="collapse"
                data-target="#hint{{$index}}"
                aria-expanded="false"
                aria-controls="hint1"
              >
                <p>Pista {{$index+1}}</p>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
              <div ng-class="[collapse, {in: $index == ex.hints.length}]" id="hint{{$index}}">
                <div class="card card-block" style="overflow-x: auto;">
                  <div marked="hint" mathjax></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
