<!-- <br class="xs-80"> -->
<div class="account-wrapper" ng-init="dontDialog();">
  <div class="account-body">
    <h3>Plataforma de matemáticas</h3>
    <h2>UNICARIBE</h2>
    <h6 class="btn-danger" ng-show="error">Usuario o contraseña incorrecta</h6>
    <div layout="row" layout-align="center center" ng-show="loading">
      <md-progress-circular md-mode="indeterminate" md-diameter="120px"></md-progress-circular>
    </div>
    <form class="form account-form" ng-submit="doLogin(form)" ng-show="!loading">
      <div class="form-group">
        <label for="login-username" class="placeholder-hidden">Usuario</label>
        <input ng-model="form.username" type="text" class="form-control" id="login-username" placeholder="Username" tabindex="1" required>
      </div>

      <div class="form-group">
        <label for="login-password" class="placeholder-hidden">Contraseña</label>
        <input ng-model="form.password" type="password" class="form-control" id="login-password" placeholder="Password" tabindex="2" required>
      </div> <!-- /.form-group -->

      <div class="form-group clearfix">
        <div class="pull-left">
          <label class="checkbox-inline">
            <input ng-model="form.large" type="checkbox"  tabindex="3"> <small>Recordarme</small>
          </label>
        </div>

        <div class="pull-right">
          <small><a href="#/recover-password">Olvidaste tu contraseña?</a></small>
        </div>
      </div> <!-- /.form-group -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
          Acceder &nbsp; <i class="fa fa-play-circle"></i>
        </button>
      </div> <!-- /.form-group -->

    </form>
  </div> <!-- /.account-body -->

  <div class="account-footer">
    <p>
      ¿No tienes cuenta? &nbsp;
      <a href="#/register" class="">¡Crear una cuenta!</a>
    </p>
  </div> <!-- /.account-footer -->

</div> <!-- /.account-wrapper -->
