<div class="page-header">
	<h3 class="page-title">{{topic.unitName}} / {{topic.name}}</h3>
</div>

<div class="portlet portlet-boxed">
	<div class="portlet-header">
		<h4 class='portlet-title'>Ejercicios</h4>
	</div>
  <div class="portlet-body" layout-wrap>
<!--   	<div class="well">
  		<p><b>¿Cómo se calculan tus puntos?</b></p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus felis enim, sed rutrum eros gravida at. Integer non nisi aliquam massa commodo pellentesque. Duis non malesuada felis. Phasellus rhoncus nisi porttitor aliquet commodo. Vivamus eget molestie lectus, at accumsan mi. Sed ac nibh a ipsum mollis feugiat a ut dolor. Quisque diam metus, bibendum ornare sapien at, pulvinar commodo mauris. Suspendisse eu dolor mauris. Aenean convallis, enim non blandit euismod, magna erat maximus arcu, at luctus nibh erat vitae libero. Nulla facilisi.</p>
  	</div>
 -->
  	<div layout="row" layout-xs="column" layout-sm="column" layout-align="space-around stretch" layout-wrap>

  		<div  layout
            flex="30"
            flex-sm="100"
            flex-xs="100"
            ng-repeat="diff in topic.difficulties"
            ng-init="
              titles=['Simples', 'Intermedios', 'Avanzados'];
              classs = ['bicycle', 'car', 'space-shuttle'];
              restEx = getExerciseLeft(diff, totalPoints)
              "
            ng-cloak>
		    <div class="well text-center" layout="column" flex="100" ng-init="">
  		    <span class='badge badge-danger badge-primary pull-right' style="align-self: flex-end;">{{diff.perEx}} pts</span>
  		    <br>
  		      <p><i class="fa fa-{{classs[$index]}} fa-5x text-muted"></i></p>
  		      <h5>{{titles[$index]}}<br>
            <!--
  		      <small>Máximo {{diff.limit}} puntos</small>
            -->
             <small class="small-ex" ng-show="restEx > 0">
               <span ng-show="$index==2">Minimo</span>
                 {{restEx}} ejercicios
               <span ng-show="$index<2">restantes</span>
             </small>
             <small class="small-ex ex-complete" ng-show="restEx <= 0">Completado</small>

  		      </h5>
  		      <div class="preview-ex well text-left" style="margin-bottom: auto;">
  		      	<h6 ng-if="diff.latex">Ejemplo</h6>
             <h6 ng-if="!diff.latex">Ejemplo no disponible</h6>
  			     <p marked="diff.latex" mathjax></p>
  		      </div>
		      <a href="" ng-click="getEx($index)" ng-class="['btn btn-block btn-to-level', {'btn-primary': restEx>0}, {'btn-success': restEx<=0}]">
            <span ng-show="restEx > 0">Intentar</span>
            <span ng-show="restEx <= 0">Practicar</span>
          </a>
		    </div>
  		</div>
  	</div>
  </div>
</div>
<div class="portlet portlet-boxed">
	<div class="portlet-header">
		<h4 class='portlet-title'>Lecturas</h4>
	</div>
  <div class="portlet-body">
  <div class="row">
  	<div class="col-xs-6">
  		<h4>Internas</h4>
	  	<div  class="panel-group accordion-panel" >
		  <div ng-repeat="note in topic.notes.internal" class="panel panel-default" ng-class="{'is-open':note.show}">
		    <div class="panel-heading" role="tab" >
		      <h4 class="panel-title">
		        <a class="accordion-toggle" ng-click="note.show = !note.show" href="">
		        	<i class="fa" ng-class="{'fa-caret-down':note.show,'fa-caret-right':!note.show}"></i>
		        	{{note.title}}
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" ng-show="note.show">
		      <div class="panel-body">
		      	<div marked="note.markdown" mathjax></div>
		      	<div class="text-right">
		      		<a href="#/notes/{{note.id}}" class="btn btn-secondary">Ver mas <i class="fa fa-arrow-right"></i></a>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
  	</div>
  	<div class="col-xs-6">
  		<h4>Externas</h4>
	  	<div  class="panel-group accordion-panel" >
		  <div ng-repeat="note in topic.notes.external" class="panel panel-default" ng-class="{'is-open':note.show}">
		    <div class="panel-heading" role="tab" >
		      <h4 class="panel-title">
		        <a class="accordion-toggle" ng-click="note.show = !note.show" href="">
		        	<i class="fa" ng-class="{'fa-caret-down':note.show,'fa-caret-right':!note.show}"></i>
		        	{{note.title}}
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" ng-show="note.show">
		      <div class="panel-body">
		      	<div marked="note.markdown" mathjax></div>
		      	<div class="text-right">
		      		<a href="#/notes/{{note.id}}" class="btn btn-secondary">Ver mas <i class="fa fa-arrow-right"></i></a>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
  	</div>
  </div>
  </div>
</div>
